<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>@UNIQUENAME@</string>
        <key>ExitTimeOut</key>
	<integer>600</integer>
        <key>ProgramArguments</key>
        <array>
                <string>@PREFIX@/libexec/auristor/afsd</string>
                <string>-config</string>
                <string>@PREFIX@/etc/openafs/yfs-client.conf</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
</dict>
</plist>