<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>ldap-too.mit.edu</string>
	<key>mappings</key>
	<dict>
		<key>attributes</key>
		<array>
			<string>objectClass</string>
		</array>
		<key>function</key>
		<string>ldap:translate_recordtype</string>
		<key>recordtypes</key>
		<dict>
			<key>dsRecTypeStandard:Automount</key>
			<dict>
				<key>attributetypes</key>
				<dict>
					<key>dsAttrTypeStandard:AutomountInformation</key>
					<dict>
						<key>native</key>
						<string>automountInformation</string>
					</dict>
					<key>dsAttrTypeStandard:Comment</key>
					<dict>
						<key>native</key>
						<string>description</string>
					</dict>
					<key>dsAttrTypeStandard:CreationTimestamp</key>
					<dict>
						<key>native</key>
						<string>createTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:ModificationTimestamp</key>
					<dict>
						<key>native</key>
						<string>modifyTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:RecordName</key>
					<dict>
						<key>native</key>
						<string>automountKey</string>
					</dict>
				</dict>
				<key>info</key>
				<dict>
					<key>Group Object Classes</key>
					<string>OR</string>
					<key>Object Classes</key>
					<array>
						<string>automount</string>
					</array>
					<key>Search Base</key>
					<string>dc=mit,dc=edu</string>
				</dict>
			</dict>
			<key>dsRecTypeStandard:AutomountMap</key>
			<dict>
				<key>attributetypes</key>
				<dict>
					<key>dsAttrTypeStandard:Comment</key>
					<dict>
						<key>native</key>
						<string>description</string>
					</dict>
					<key>dsAttrTypeStandard:CreationTimestamp</key>
					<dict>
						<key>native</key>
						<string>createTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:ModificationTimestamp</key>
					<dict>
						<key>native</key>
						<string>modifyTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:RecordName</key>
					<dict>
						<key>native</key>
						<string>automountMapName</string>
					</dict>
				</dict>
				<key>info</key>
				<dict>
					<key>Group Object Classes</key>
					<string>OR</string>
					<key>Object Classes</key>
					<array>
						<string>automountMap</string>
					</array>
					<key>Search Base</key>
					<string>dc=mit,dc=edu</string>
				</dict>
			</dict>
			<key>dsRecTypeStandard:CertificateAuthorities</key>
			<dict>
				<key>attributetypes</key>
				<dict>
					<key>dsAttrTypeStandard:AuthorityRevocationList</key>
					<dict>
						<key>native</key>
						<string>authorityRevocationList;binary</string>
					</dict>
					<key>dsAttrTypeStandard:CACertificate</key>
					<dict>
						<key>native</key>
						<string>cACertificate;binary</string>
					</dict>
					<key>dsAttrTypeStandard:CertificateRevocationList</key>
					<dict>
						<key>native</key>
						<string>certificateRevocationList;binary</string>
					</dict>
					<key>dsAttrTypeStandard:CreationTimestamp</key>
					<dict>
						<key>native</key>
						<string>createTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:CrossCertificatePair</key>
					<dict>
						<key>native</key>
						<string>crossCertificatePair;binary</string>
					</dict>
					<key>dsAttrTypeStandard:ModificationTimestamp</key>
					<dict>
						<key>native</key>
						<string>modifyTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:RecordName</key>
					<dict>
						<key>native</key>
						<string>cn</string>
					</dict>
				</dict>
				<key>info</key>
				<dict>
					<key>Group Object Classes</key>
					<string>OR</string>
					<key>Object Classes</key>
					<array>
						<string>certificationAuthority</string>
					</array>
					<key>Search Base</key>
					<string>dc=mit,dc=edu</string>
				</dict>
			</dict>
			<key>dsRecTypeStandard:Groups</key>
			<dict>
				<key>attributetypes</key>
				<dict>
					<key>dsAttrTypeStandard:CreationTimestamp</key>
					<dict>
						<key>native</key>
						<string>createTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:GroupMembership</key>
					<dict>
						<key>native</key>
						<string>memberUid</string>
					</dict>
					<key>dsAttrTypeStandard:Member</key>
					<dict>
						<key>native</key>
						<string>memberUid</string>
					</dict>
					<key>dsAttrTypeStandard:ModificationTimestamp</key>
					<dict>
						<key>native</key>
						<string>modifyTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:PrimaryGroupID</key>
					<dict>
						<key>native</key>
						<string>gidNumber</string>
					</dict>
					<key>dsAttrTypeStandard:RecordName</key>
					<dict>
						<key>native</key>
						<string>cn</string>
					</dict>
				</dict>
				<key>info</key>
				<dict>
					<key>Group Object Classes</key>
					<string>OR</string>
					<key>Object Classes</key>
					<array>
						<string>posixGroup</string>
					</array>
					<key>Search Base</key>
					<string>dc=mit,dc=edu</string>
				</dict>
			</dict>
			<key>dsRecTypeStandard:Mounts</key>
			<dict>
				<key>attributetypes</key>
				<dict>
					<key>dsAttrTypeStandard:CreationTimestamp</key>
					<dict>
						<key>native</key>
						<string>createTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:ModificationTimestamp</key>
					<dict>
						<key>native</key>
						<string>modifyTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:RecordName</key>
					<dict>
						<key>native</key>
						<string>cn</string>
					</dict>
					<key>dsAttrTypeStandard:VFSDumpFreq</key>
					<dict>
						<key>native</key>
						<string>mountDumpFrequency</string>
					</dict>
					<key>dsAttrTypeStandard:VFSLinkDir</key>
					<dict>
						<key>native</key>
						<string>mountDirectory</string>
					</dict>
					<key>dsAttrTypeStandard:VFSOpts</key>
					<dict>
						<key>native</key>
						<string>mountOption</string>
					</dict>
					<key>dsAttrTypeStandard:VFSPassNo</key>
					<dict>
						<key>native</key>
						<string>mountPassNo</string>
					</dict>
					<key>dsAttrTypeStandard:VFSType</key>
					<dict>
						<key>native</key>
						<string>mountType</string>
					</dict>
				</dict>
				<key>info</key>
				<dict>
					<key>Group Object Classes</key>
					<string>OR</string>
					<key>Object Classes</key>
					<array>
						<string>mount</string>
					</array>
					<key>Search Base</key>
					<string>dc=mit,dc=edu</string>
				</dict>
			</dict>
			<key>dsRecTypeStandard:OrganizationalUnit</key>
			<dict>
				<key>attributetypes</key>
				<dict>
					<key>dsAttrTypeStandard:AddressLine1</key>
					<dict>
						<key>native</key>
						<string>street</string>
					</dict>
					<key>dsAttrTypeStandard:City</key>
					<dict>
						<key>native</key>
						<string>l</string>
					</dict>
					<key>dsAttrTypeStandard:Comment</key>
					<dict>
						<key>native</key>
						<string>description</string>
					</dict>
					<key>dsAttrTypeStandard:Country</key>
					<dict>
						<key>native</key>
						<string>c</string>
					</dict>
					<key>dsAttrTypeStandard:FAXNumber</key>
					<dict>
						<key>native</key>
						<string>facsimileTelephoneNumber</string>
					</dict>
					<key>dsAttrTypeStandard:Password</key>
					<dict>
						<key>native</key>
						<string>userPassword</string>
					</dict>
					<key>dsAttrTypeStandard:PhoneNumber</key>
					<dict>
						<key>native</key>
						<string>telephoneNumber</string>
					</dict>
					<key>dsAttrTypeStandard:PostalAddress</key>
					<dict>
						<key>native</key>
						<string>postalAddress</string>
					</dict>
					<key>dsAttrTypeStandard:PostalCode</key>
					<dict>
						<key>native</key>
						<string>postalCode</string>
					</dict>
					<key>dsAttrTypeStandard:RealName</key>
					<dict>
						<key>native</key>
						<string>cn</string>
					</dict>
					<key>dsAttrTypeStandard:RecordName</key>
					<dict>
						<key>native</key>
						<string>ou</string>
					</dict>
					<key>dsAttrTypeStandard:State</key>
					<dict>
						<key>native</key>
						<string>st</string>
					</dict>
					<key>dsAttrTypeStandard:Street</key>
					<dict>
						<key>native</key>
						<string>street</string>
					</dict>
				</dict>
				<key>info</key>
				<dict>
					<key>Group Object Classes</key>
					<string>OR</string>
					<key>Object Classes</key>
					<array>
						<string>organizationalUnit</string>
					</array>
					<key>Search Base</key>
					<string>dc=mit,dc=edu</string>
				</dict>
			</dict>
			<key>dsRecTypeStandard:People</key>
			<dict>
				<key>attributetypes</key>
				<dict>
					<key>dsAttrTypeStandard:AddressLine1</key>
					<dict>
						<key>native</key>
						<string>street</string>
					</dict>
					<key>dsAttrTypeStandard:Building</key>
					<dict>
						<key>native</key>
						<string>buildingName</string>
					</dict>
					<key>dsAttrTypeStandard:City</key>
					<dict>
						<key>native</key>
						<string>l</string>
					</dict>
					<key>dsAttrTypeStandard:Country</key>
					<dict>
						<key>native</key>
						<string>c</string>
					</dict>
					<key>dsAttrTypeStandard:CreationTimestamp</key>
					<dict>
						<key>native</key>
						<string>createTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:Department</key>
					<dict>
						<key>native</key>
						<string>departmentNumber</string>
					</dict>
					<key>dsAttrTypeStandard:EMailAddress</key>
					<dict>
						<key>native</key>
						<string>mail</string>
					</dict>
					<key>dsAttrTypeStandard:FAXNumber</key>
					<dict>
						<key>native</key>
						<string>facsimileTelephoneNumber</string>
					</dict>
					<key>dsAttrTypeStandard:FirstName</key>
					<dict>
						<key>native</key>
						<string>givenName</string>
					</dict>
					<key>dsAttrTypeStandard:HomePhoneNumber</key>
					<dict>
						<key>native</key>
						<string>homePhone</string>
					</dict>
					<key>dsAttrTypeStandard:JobTitle</key>
					<dict>
						<key>native</key>
						<string>title</string>
					</dict>
					<key>dsAttrTypeStandard:LastName</key>
					<dict>
						<key>native</key>
						<string>sn</string>
					</dict>
					<key>dsAttrTypeStandard:MobileNumber</key>
					<dict>
						<key>native</key>
						<string>mobile</string>
					</dict>
					<key>dsAttrTypeStandard:ModificationTimestamp</key>
					<dict>
						<key>native</key>
						<string>modifyTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:OrganizationName</key>
					<dict>
						<key>native</key>
						<string>o</string>
					</dict>
					<key>dsAttrTypeStandard:PagerNumber</key>
					<dict>
						<key>native</key>
						<string>pager</string>
					</dict>
					<key>dsAttrTypeStandard:PhoneNumber</key>
					<dict>
						<key>native</key>
						<string>telephoneNumber</string>
					</dict>
					<key>dsAttrTypeStandard:PostalAddress</key>
					<dict>
						<key>native</key>
						<string>postalAddress</string>
					</dict>
					<key>dsAttrTypeStandard:PostalCode</key>
					<dict>
						<key>native</key>
						<string>postalCode</string>
					</dict>
					<key>dsAttrTypeStandard:RealName</key>
					<dict>
						<key>native</key>
						<string>cn</string>
					</dict>
					<key>dsAttrTypeStandard:RecordName</key>
					<dict>
						<key>native</key>
						<string>cn</string>
					</dict>
					<key>dsAttrTypeStandard:State</key>
					<dict>
						<key>native</key>
						<string>st</string>
					</dict>
					<key>dsAttrTypeStandard:Street</key>
					<dict>
						<key>native</key>
						<string>street</string>
					</dict>
					<key>dsAttrTypeStandard:UserCertificate</key>
					<dict>
						<key>native</key>
						<string>userCertificate;binary</string>
					</dict>
					<key>dsAttrTypeStandard:UserPKCS12Data</key>
					<dict>
						<key>native</key>
						<string>userPKCS12</string>
					</dict>
					<key>dsAttrTypeStandard:UserSMIMECertificate</key>
					<dict>
						<key>native</key>
						<string>userSMIMECertificate</string>
					</dict>
				</dict>
				<key>info</key>
				<dict>
					<key>Group Object Classes</key>
					<string>OR</string>
					<key>Object Classes</key>
					<array>
						<string>inetOrgPerson</string>
					</array>
					<key>Search Base</key>
					<string>dc=mit,dc=edu</string>
				</dict>
			</dict>
			<key>dsRecTypeStandard:Users</key>
			<dict>
				<key>attributetypes</key>
				<dict>
					<key>dsAttrTypeStandard:Change</key>
					<dict>
						<key>native</key>
						<string>shadowLastChange</string>
					</dict>
					<key>dsAttrTypeStandard:Comment</key>
					<dict>
						<key>native</key>
						<string>description</string>
					</dict>
					<key>dsAttrTypeStandard:CreationTimestamp</key>
					<dict>
						<key>native</key>
						<string>createTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:Expire</key>
					<dict>
						<key>native</key>
						<string>shadowExpire</string>
					</dict>
					<key>dsAttrTypeStandard:ModificationTimestamp</key>
					<dict>
						<key>native</key>
						<string>modifyTimestamp</string>
					</dict>
					<key>dsAttrTypeStandard:NFSHomeDirectory</key>
					<dict>
						<key>native</key>
						<string>#/Users/$uid$</string>
					</dict>
					<key>dsAttrTypeStandard:Password</key>
					<dict>
						<key>native</key>
						<string>userPassword</string>
					</dict>
					<key>dsAttrTypeStandard:PrimaryGroupID</key>
					<dict>
						<key>native</key>
						<string>#101</string>
					</dict>
					<key>dsAttrTypeStandard:RealName</key>
					<dict>
						<key>native</key>
						<string>cn</string>
					</dict>
					<key>dsAttrTypeStandard:RecordName</key>
					<dict>
						<key>native</key>
						<string>uid</string>
					</dict>
					<key>dsAttrTypeStandard:UniqueID</key>
					<dict>
						<key>native</key>
						<string>uidNumber</string>
					</dict>
					<key>dsAttrTypeStandard:UserShell</key>
					<dict>
						<key>native</key>
						<string>#/bin/zsh</string>
					</dict>
				</dict>
				<key>info</key>
				<dict>
					<key>Group Object Classes</key>
					<string>OR</string>
					<key>Object Classes</key>
					<array>
						<string>posixAccount</string>
						<string>inetOrgPerson</string>
						<string>shadowAccount</string>
					</array>
					<key>Search Base</key>
					<string>dc=mit,dc=edu</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>module options</key>
	<dict>
		<key>AppleODClient</key>
		<dict>
			<key>Server Mappings</key>
			<false/>
		</dict>
		<key>ldap</key>
		<dict>
			<key>Denied SASL Methods</key>
			<array>
				<string>DIGEST-MD5</string>
			</array>
			<key>LDAP Referrals</key>
			<false/>
			<key>Template Search Base Suffix</key>
			<string>dc=mit,dc=edu</string>
			<key>Use DNS replicas</key>
			<false/>
		</dict>
	</dict>
	<key>node name</key>
	<string>/LDAPv3/ldap-too.mit.edu</string>
	<key>options</key>
	<dict>
		<key>connection idle disconnect</key>
		<integer>60</integer>
		<key>connection setup timeout</key>
		<integer>10</integer>
		<key>destination</key>
		<dict>
			<key>host</key>
			<string>ldap-too.mit.edu</string>
			<key>other</key>
			<string>ldaps</string>
			<key>port</key>
			<integer>636</integer>
		</dict>
		<key>man-in-the-middle</key>
		<false/>
		<key>no cleartext authentication</key>
		<false/>
		<key>packet encryption</key>
		<integer>3</integer>
		<key>packet signing</key>
		<integer>1</integer>
		<key>query timeout</key>
		<integer>30</integer>
	</dict>
	<key>template</key>
	<string>LDAPv3</string>
	<key>trusttype</key>
	<string>anonymous</string>
	<key>uuid</key>
	<string>F2E15F1A-3890-4CB9-8689-D3E3295C14FA</string>
</dict>
</plist>
