body {
    font-size: inherit;
    padding-top: 0.5em;
}
h1 {
    margin: auto;
}
#header h1 {
    font-size: 275%;
    border-bottom: none;
}
#metanav {
    margin-bottom: 2em;
}
#content h1 {
    font-size: 200%;
    padding: 0.5em 0;
}
#content h2 {
    font-size: 150%;
}
.wikipage {
    padding-left: 0;
}
.wikipage h1, .wikipage h2, .wikipage h3 {
    margin-left: 0;
}
.nav li {
    line-height: inherit;
}
:link, :visited {
    border-bottom: none;
}
:link:hover, :visited:hover {
    background-color: transparent;
}
:link:hover {
    color: #06c;
}
:visited:hover {
    color: #039;
}