h1 {
    border-bottom: 1px solid #aaa;
    margin-top: 0;
    padding-bottom: 0.25em;
    font-size: 250%;
    font-weight: bold;
}
h2 {
    font-size: 175%;
    margin: 1em 0 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Myriad Pro", "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    color: #777;
}
kbd {
    font-weight: bold;
}
html {
    font-size: 87.5%;
}
body {
    font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    color: #000;
}
pre, code, samp, kbd, tt {
    font-family: "Bitstream Vera Sans Mono", "Luxi Mono", Consolas, "Andale Mono", Monaco, "Courier New", monospace;
    font-size: 100%;
}
:link {
    color: #06c;
}
:visited {
    color: #039;
}
:link img, :visited img {
    border: none;
}
p, li, dd {
    line-height: 1.5em;
}
.long li, .long dd {
    margin-bottom: .5em;
}
.short dt {
    clear: both;
    float: left;
    min-width: 28em;
}
.short dd {
    margin-left: 28em;
    line-height: 1.1em;
    margin-bottom: .5em;
}
pre {
    background: #f6f6f6;
    border: 1px solid #ddd;
    -moz-border-radius: .4em;
    border-radius: .4em;
    padding: .125em;
    line-height: 1.25em;
}
.note {
    background: #ffd;
    border: 1px solid #eea;
    -moz-border-radius: .4em;
    border-radius: .4em;
    padding: .25em;
}
a:link, a:visited {
    text-decoration: none;
}
a:link:hover, a:visited:hover {
    text-decoration: underline;
}
var {
    color: #090;
}
.clear {
    clear: both;
}
.tooltip {
    cursor: help;
}
